@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
    --background: #f5f5f5;
    --foreground: #1c2025;
    --container: #5d5dbe;
    --lines: #ffffff;
}

@layer utilities {
    .text-body {
        @apply text-base font-sans text-[var(--foreground)];
    }

    .text-heading {
        @apply text-2xl font-semibold text-[var(--foreground)];
    }

    .info-section {
        @apply relative inline-block text-3xl font-bold after:content-['#'] after:ml-2 after:text-[var(--container)] after:opacity-100 hover:after:opacity-100 after:transition-opacity mb-4;
    }

    .sub-info-section {
        @apply relative inline-block text-2xl font-bold after:content-['#'] after:ml-2 after:text-[var(--container)] after:opacity-0 hover:after:opacity-100 after:transition-opacity mb-4;
    }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
    display: none;
}

/* Firefox */
* {
    scrollbar-width: none;
}

/* (optional) hides scrollbar corner on Windows */
html, body {
    -ms-overflow-style: none; /* for Internet Explorer/Edge legacy */
}
